<!-- #topbar: Top Bar Menu -->
<ul id="topbar" class="on-click">
	<li class="pull-left">
		<h1 id="topbar-title">
			<a href="/index/">
                Viva Management System
            </a>
		</h1>
	</li>
    <li id="course-detail">
        <span id="college-name">DAMCS@PSG-TECH  -  </span>
        <span id="course-name">{{ course_name }}</span>
    </li>

	<li class="parent pull-right">
		<a href="page_index.html#" data-toggle="dropdown">
            <i class="icon-user"></i>
            <span>{{ username }}</span>
		</a>
		<ul class="dropdown-menu">
			<!--li><a href="page_index.html#">Profile</a></li>
			<li><a href="page_index.html#">Finances</a></li>
			<li class="divider"></li-->
			<li><a href="#" id="logout">Logout</a></li>
		</ul>
	</li>
    {%  if userrole == "admin" %}
        <li class="parent pull-right">
            <a href="/config/">
                 SETTINGS
            </a>
            <!--ul class="dropdown-menu">
                <li><a href="page_index.html#">Backend Settings</a></li>
                <li><a href="page_index.html#">Frontend Settings</a></li>
            </ul-->
        </li>
    {% endif %}
    <li class="parent pull-right">
		<a href="/about/">
             About
		</a>
		<!--ul class="dropdown-menu">
			<li><a href="page_index.html#">Backend Settings</a></li>
			<li><a href="page_index.html#">Frontend Settings</a></li>
		</ul-->
	</li>

</ul>
<!-- /#topbar: Top Bar Menu -->


<div class="wrapper">
    <div id="extruderLeft" class="{title:'Pull To Explore'}">
        <div class="content">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Quick Navigation
                        </a>
                    </li>
                    <li>
                        <a href="/guide-select/">Guide Selection</a>
                    </li>
                    {%  if userrole != "admin" %}
                        <li>
                            <a href="/guide-allot/">Guide Allotment</a>
                        </li>
                    {% endif %}
                    {%  if userrole == "admin" %}
                        <li>
                            <a href="/config/">Configuration</a>
                        </li>
                    {% endif %}
                </ul>
             </div>
        </div>
    </div>
</div>
