{% include "newVMS/header.html" %}
{% include "newVMS/navbar.html" %}
	<!-- #content: The Main Content Section
		Just add the page content here for a regular page or use .page DIVs for panel pages.
		Use Bootstrap fluid layout for best effect.
		
		-->
	<div id="content">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="row">
				<div class="col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							Summary
						</div>
						<div class="x_content">
							<table class="table table-hover">
								<thead>
									<tr>
										<th> Course </th>
										<th> Tutor </th>
										<th> Strength </th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="x_panel"id="faculty-alloted-list">
						<div class="x_title">
							Faculty Alloted List
						</div>
						<div class="x_content">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Faculty</th>
										<th>Short Name</th>
										<th>Alloted Students </th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Suresh Balusamy</td>
										<td> SB </td>
										<td> 2 </td>
									</tr>
									<tr>
										<td>Suresh Balusamy</td>
										<td> SB </td>
										<td> 2 </td>
									</tr>
									<tr>
										<td>Suresh Balusamy</td>
										<td> SB </td>
										<td> 2 </td>
									</tr>
									<tr>
										<td>Suresh Balusamy</td>
										<td> SB </td>
										<td> 2 </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="x_panel">
						<div class="x_title">
							Student Company Distribution
						</div>
						<div class="x_content">
							<div id="studentCompanyDist">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="x_panel">
						<div class="x_title">
							Student City Distribution
						</div>
						<div class="x_content">
							<div id="studentCityDistribution">
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="x_panel">
						<div class="x_title">
							Student Viva Allotment Status
						</div>
						<div class="x_content">
							<div id="studentVivaAllotStatus">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#content: The Main Content Section -->

<!-- /.container-fluid#container -->
{% include "newVMS/footer.html" %}