{% include "newVMS/header.html" %}
{% include "newVMS/navbar.html" %}

<!-- This the main Content -->
<div class="col-xs-10 col-xs-offset-1" id="content">
    <ul id="config-accordion">
        <li id="config-1" data-required="true"  data-status="incomplete"  data-title="Session and Class">
            <div class="col-xs-6 col-xs-offset-3">
                <form id="config_session">
                    <div class="form-group col-xs-12">
                        <label for="session_year"> Session Year </label>
                        <input type="text" class="form-control" name="session_year" id="session_year"/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-12">
                        <label for="session_sem"> Session Semester </label>
                        <select class="form-control" name="session_sem" id="session_sem">
                            <option value="even">Even Semester</option>
                            <option value="odd">Odd Semester</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-12">
                        <label for="session_sem"> Courses </label>
                        <div id="config_course_container">
                            <!-- Content will be dynamically added later -->
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <input type="text" placeholder="Degree" name="config_add_course" id="config_add_degree" class="form-control"/>
                            </div>
                            <div class="col-xs-8">
                                <input type="text" placeholder="Course Name" name="config_add_course" id="config_add_course_name" class="form-control"/>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="text" placeholder="Course Short Name" name="config_add_course_short" id="config_add_course_short_name" class="form-control" />
                            </div>
                            <div class="col-xs-6">
                                <button type="button" id="config_add_course" class="btn btn-large btn-success col-xs-12">Add Course</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr size="2">
                    <div class="col-xs-6 col-xs-offset-3">
                        <button type="button" class="btn btn-success col-xs-12" id="config_page_1_submit"> Save </button>
                    </div>
                </form>
            </div>
        </li>
        <li id="config-2" data-required="true"  data-status="disabled"  data-title="Tutor Setup">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-bordered" id="config-2-table">
                        <thead>
                            <tr>
                                <th> Class </th>
                                <th> # Students </th>
                                <th> Tutor </th>
                                <th> Group Mail</th>
                            </tr>
                        </thead>
                        <tbody id="class-tutor-alloc-data">
                            <!-- Content will be filled here dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <input type="button" value="Save" id="config_page_2_submit" class="btn btn-success btn-large col-xs-12">
                </div>
            </div>
        </li>
        <li id="config-3" data-required="true"  data-status="disabled"  data-title="Role Assignment">
            Shredded
        </li>

    </ul>
</div>

{% include "newVMS/footer.html" %}