{% include "newVMS/header.html" %}
{% include "newVMS/navbar.html" %}
	<!-- #content: The Main Content Section
		Just add the page content here for a regular page or use .page DIVs for panel pages.
		Use Bootstrap fluid layout for best effect.

		-->
	<div id="content">
		<div class="page" id="page-guide-allot">
			<!-- Panel Page Dashboard Content: -->
			<div class="content" id="page-content">
                <input type="hidden" id="tutor-id" value={{ userid }}>
                <div id = "left-pane">
                     <div class="box">
                         <div class="container-4">
                              <input type="search" id="search" placeholder="Search..." />
                              <button class="icon"><i class="fa fa-search"></i></button>
                         </div>
                     </div>
                    <div id="faculty-list">

                    </div>
                </div>
                <div id = "center-pane">
                    <div class="box margin-left-2">
                         <div class="container-4">
                              <input type="search" id="search" placeholder="Search..." />
                              <button class="icon"><i class="fa fa-search"></i></button>
                         </div>
                     </div>
                    <div id="mapping-list" class="mCustomScrollbar" data-mcs-theme="3d">

                    </div>
                </div>
                <div id = "right-pane">
                     <div class="box">
                         <div class="container-4">
                              <input type="search" id="search" placeholder="Search..." />
                              <button class="icon"><i class="fa fa-search"></i></button>
                         </div>
                     </div>
                    <div id="student-list"></div>
                </div>
			</div>
		</div>
	</div>
	<!-- /#content: The Main Content Section -->
<!-- /.container-fluid#container -->
{% include "newVMS/footer.html" %}