.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/VivaManagementSystem.iml
.idea/workspace.xml
.idea/
VivaManagementSystem/**/*.pyc
VivaManagementSystem/__pycache__
AJAXHandlers/__pycache__
util/__pycache__
util/configuration/__pycache__